[Unit]
Description=CDC mapper
Wants=network-online.target
After=network-online.target


[Service]
User=root
WorkingDirectory=/usr/share/cdcmapper
ExecStart=gunicorn -w 4 -bind 0.0.0.0 wsgi:app
StandardOutput=journal
Restart=always
RestartSec=5
StartLimitBurst=10
StartLimitInterval=200


[Install]
WantedBy=multi-user.target

